<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

</body>
</html>
<body>
	<center>
<form action="submit" method="post">
{% csrf_token %}
<label>Symptom1</label>
<input type="text" name="symptom1">
<br>
<br>

<label>Symptom2</label>
<input type="text" name="symptom2">
<br>
<br>

<label>Symptom3</label>
<input type="text" name="symptom3">
<br>
<br>

<label>Symptom4</label>
<input type="text" name="symptom4">
<br>
<br>

<label>Symptom5</label>
<input type="text" name="symptom5">
<br>
<br>

<label>Symptom6</label>
<input type="text" name="symptom6">
<br>
<br>

<label>Symptom7</label>
<input type="text" name="symptom7">
<br>
<br>

<label>Symptom8</label>
<input type="text" name="symptom8">
<br>
<br>




<input type="submit" name="submit">



</form></center>
</body>
</html>